// .item-form {
//   font-family: $font-secondary;
// }

.sheet-header {
  flex: 0 0 90px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;

  .profile-img {
    flex: 0 0 90px;
    margin-right: 5px;
    height: 145px;
    width: 145px;
    object-fit: cover;
    object-position: 50% 0;
  }

  .item-img {
    flex: 0 0 64px;
    margin-right: 5px;
    height: 64px;
    width: 64px;
    object-fit: cover;
    object-position: 50% 0;
  }

  .header-fields {
    flex: 1;
  }

  h1.charname {
    height: 50px;
    padding: 0px;
    margin: 5px 0;
    border-bottom: 0;
    input {
      width: 100%;
      height: 100%;
      margin: 0;
    }
  }
}

.sheet-tabs {
  flex: 0;
}

nav.sheet-tabs.side {
  position: absolute;
  transform: rotate(90deg);
  top: 465px;
  right: -195px;
  border-top: none;
  height: 35px;
  z-index: -1;
  .item {
    padding: 1px 10px 0;
    margin-left: -5px;
    text-indent: 4px;
    line-height: 16px;
    border-top-right-radius: 4px;
    border-top-left-radius: 80px;
    border-top: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 6px 1px $c-black;
    font-size: 14px;
    filter: brightness(0.9);
    &.active {
      filter: none;
      z-index: 1;
      font-weight: bold;
      text-shadow: none;
      margin-bottom: -1px;
    }
  }
}

.sheet-body,
.sheet-body .tab,
.sheet-body .tab .editor {
  height: 250px;
  overflow: unset;
}

.sheet-body .wealth .attribute-group .attributes .attribute {
  width: auto;
  .attribute-value {
    width: auto;
  }
}

.sheet-body,
.actor-computed {
  .attributes {
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
  }
  .attribute-group {
    flex: 0 0 88px;
    .attributes {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 100%;
      .attribute {
        display: flex;
        flex-direction: row;

        .attribute-name,
        .attribute-name-long {
          flex-grow: 0;
          margin: 1px;
          line-height: 35px;
          a {
            margin: auto;
          }
        }

        .attribute-name {
          width: 40px;
        }

        .attribute-name-long {
          width: 60px;
        }

        .attribute-value {
          display: inline-flex;
          width: 25px;
          flex-grow: 0;
          input {
            padding: 0;
          }
        }
        .attribute-mod {
          width: 10px;
          font-style: italic;
          flex-grow: 0;
          margin: 1px;
          line-height: 30px;
          a {
            margin: auto;
          }
        }
      }
    }
  }
}

.tox {
  .tox-editor-container {
    background: $c-white;
  }

  .tox-edit-area {
    padding: 0 8px;
  }
}

.helveczia.chat-block {
  margin: 0;
  .chat-header {
    height: 46px;
    margin: 4px 0;
    background: $darkBackground;
    border: 1px solid black;
    border-radius: 3px;
    color: white;
    padding: 2px;
    box-shadow: 0 0 2px #fff inset;
    .chat-title {
      margin: 4px 0;
      height: 30px;
      overflow: hidden;
      h2 {
        border: none;
        line-height: 34px;
        margin: 0;
        text-indent: 10px;
        font-size: 16px;
        word-break: break-all;
      }
    }
    .chat-img {
      flex: 0 0 42px;
      background-size: cover;
    }
  }
  .chat-target {
    text-align: right;
    font-style: italic;
    padding: 2px;
  }
  .chat-details {
    padding: 4px;
    font-size: 13px;
  }
  .roll-result {
    font-size: 13px;
    text-align: center;
    &.roll-success {
      color: #18520b;
    }
    &.roll-fail {
      color: #aa0200;
    }
  }
  .damage-roll {
    position: relative;
    .dice-damage {
      display: none;
      position: absolute;
      line-height: 24px;
      text-align: center;
      background: rgba(0, 0, 0, 0.1);
      border-radius: 3px;
      box-shadow: 0 0 2px #fff inset;
      bottom: 1px;
      right: 10px;
      button {
        padding: 2px 5px;
        width: 22px;
        line-height: 14px;
        height: 22px;
        cursor: pointer;
      }
    }
    &:hover {
      .dice-damage {
        display: block;
      }
    }
  }
}

.helveczia.chat-card {
  font-style: normal;
  font-size: 12px;

  .card-header {
    padding: 3px 0;
    border-top: 2px groove #fff;
    border-bottom: 2px groove #fff;

    img {
      flex: 0 0 36px;
      margin-right: 5px;
      border: none;
    }

    h3 {
      flex: 1;
      margin: 0;
      line-height: 36px;
      color: $colorOlive;
      &:hover {
        color: #111;
      }
    }
  }

  .card-content {
    margin: 5px 0;
    .treasure-list {
      padding: 0;
      list-style: none;
      .treasure {
        img {
          flex: 0 0 36px;
          border: none;
        }
        div {
          text-indent: 10px;
          font-size: 14px;
          font-weight: bold;
        }
        line-height: 36px;
      }
      .sub {
        padding-left: 25px;
        line-height: 28px;
        img {
          flex: 0 0 28px;
          border: none;
        }
        div {
          text-indent: 10px;
          font-size: 14px;
        }
      }
    }
    h3 {
      font-size: 12px;
      margin: 0;
      font-weight: bold;
    }

    > * {
      -webkit-user-select: text;
      -moz-user-select: text;
      -ms-user-select: text;
      user-select: text;
    }
  }

  .card-buttons {
    margin: 5px 0;

    span {
      display: block;
      line-height: 28px;
      text-align: center;
      border: 1px solid $colorTan;
    }

    button {
      font-size: 12px;
      height: 24px;
      line-height: 20px;
      margin: 2px 0;
    }
  }

  .card-footer {
    padding: 3px 0 0;
    border-top: 2px groove #fff;

    span {
      border-right: 2px groove #fff;
      padding: 0 5px 0 0;
      font-size: 10px;

      &:last-child {
        border-right: none;
        padding-right: 0;
      }
    }
  }
}

.dice-roll .dice-total {
  &.success {
    color: inherit;
    background: #c7d0c0;
    border: 1px solid #006c00;
  }
  &.failure {
    color: inherit;
    background: #ffdddd;
    border: 1px solid #6e0000;
  }
  &.critical {
    color: green;
  }
  &.fumble {
    color: red;
  }
}

.sheet-body .tab .combat .combat-bonuses {
  display: flex;
  justify-content: space-evenly;

  .combat-melee {
    display: flex;
    width: -webkit-fill-available;
    justify-content: space-evenly;
  }

  .combat-ranged {
    display: flex;
    width: -webkit-fill-available;
    justify-content: space-evenly;
  }
}
