.application,
.window-app {
  font-family: $font-primary;

  .chat-message {
    background-image: url('../assets/papers2.png');
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
  }
  .window-content {
    font-family: $font-primary;
    background-image: url('../assets/papers2.png');
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px;
    img {
      border: none;
    }

    // Inputs
    input {
      text-align: center;
    }
    input[type='number'] {
      -moz-appearance: textfield;
    }
    input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0;
    }
    input:not([type='checkbox']) {
      background: none;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid;
      &:hover:not(:disabled),
      &:focus:not(:disabled) {
        box-shadow: none;
        background: $inputBackground;
      }
    }
    a:hover {
      text-shadow: none;
    }

    .resizable {
      overflow: auto;
    }
  }
}

.creator h2 {
  color: black;
  text-shadow: none;
}

.rollable {
  &:hover,
  &:focus {
    color: #000;
    text-shadow: 0 0 10px red;
    cursor: pointer;
  }
}

.atone-rollable {
  &:hover,
  &:focus {
    color: #000;
    text-shadow: 0 0 10px red;
    cursor: pointer;
  }
}

.roll-virtue {
  &:hover,
  &:focus {
    color: #000;
    text-shadow: 0 0 10px red;
    cursor: pointer;
  }
}

.generate {
  &:hover,
  &:focus {
    color: #000;
    text-shadow: 0 0 10px red;
    cursor: pointer;
  }
}

#combat li.combatant .token-initiative {
  .init-bonus-ctrl {
    display: flex;
    a.combatant-control {
      .init-mod {
        color: dimgray;
      }

      &:hover,
      &:focus {
        .init-mod {
          color: whitesmoke;
          text-shadow: 0 0 10px red;
        }
      }
    }
  }
}

div.chapter {
  font-family: $font-secondary;
  overflow-y: scroll;
  overflow: hidden;
  height: 200px;
  h1 {
    font-family: $font-secondary;
    color: black;
    text-shadow: none;
  }
}

div.verse-msg {
  font-family: $font-secondary;
}

li.highlighted {
  color: rgb(24, 23, 23);
  text-shadow: 0 0 10px red;
}

i.highlighted {
  color: rgb(24, 23, 23);
  text-shadow: 0 0 10px rgb(103, 248, 0);
}

section.helveczia.game-license {
  font-size: var(--font-size-12);
  padding: 10px;
  flex: auto;
}

.hv-name-gen {
  width: -webkit-fill-available;
  height: 28px;
  line-height: 26px;
  margin: 2px 4px;
}

.hv-card-gen {
  width: -webkit-fill-available;
  height: 28px;
  line-height: 26px;
  margin: 2px 4px;
}
