<a class="item" data-tab="editor">{{ localize 'HV.tabs.notes'}}</a>
{{#if config.showEffects }}
    {{#if isGM }}
    <a class="item" data-tab="effects">{{ localize 'HV.tabs.effects'}}</a>
    {{/if}}
{{/if}}