<form class="cards-dialog">
    <p class="notes">{{localize "CARDS.ACTIONS.Draw"}}</p>
    <div class="form-group">
        <label>{{localize "CARDS.Number"}}</label>
        <div class="form-fields">
            <select name="number">
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select>
        </div>
    </div>
</form>
