<form class="cards-dialog">
    <div class="form-group">
        <div class="form-fields">
            <label>Sex</label>
            <select id="sex">
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
            <label>Peoples</label>
            <select id="people">
                <option value="german">German</option>
                <option value="italian">Italian</option>
                <option value="french">French</option>
                <option value="polish">Polish</option>
            </select>
            <label>Helveczian?</label>
            <input id="helveczian" type="checkbox">
        </div>
    </div>
</form>
