// @import url('https://fonts.googleapis.com/css2?family=IM+Fell+English&family=UnifrakturCook&family=Germania+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English&family=MedievalSharp&family=UnifrakturCook&display=swap');

$font-primary: 'IM Fell English', serif;
// $font-secondary: 'Germania One', cursive;
$font-secondary: 'MedievalSharp', cursive;

.application.helveczia .window-content,
.app.helveczia .window-content,
.window-app.helveczia .window-content {
  &,
  & h1,
  & h2,
  & h3,
  & h4 {
    font-family: $font-primary;
    font-style: italic;
    font-size: revert;
    color: $colorDark;
    text-shadow: none;
    margin: 0px;
  }

  & h2 {
    padding-top: 2%;
  }
}

.application.helveczia .window-header,
.app.helveczia .window-header,
.window-app.helveczia .window-header {
  &,
  & h4 {
    font-family: $font-primary;
    font-style: italic;
    color: $c-white;
    text-shadow: none;
  }
}

.critical-button {
  display: grid;
}

.bracket {
  align-content: center;
  padding-bottom: 5px;
}

.centred {
  display: grid;
  justify-content: center;
  text-align: center;
}

.underline {
  border-bottom: 1px solid $c-olive;
  width: 100%;
  display: block;
}
