// @import url('https://fonts.googleapis.com/css2?family=IM+Fell+English&family=UnifrakturCook&family=Germania+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English&family=MedievalSharp&family=UnifrakturCook&display=swap');

$font-primary: 'IM Fell English', serif;
// $font-secondary: 'Germania One', cursive;
$font-secondary: 'MedievalSharp', cursive;

.application .window-content,
.app.helveczia .window-content,
.window-app.helveczia .window-content {
  &,
  & h1,
  & h2,
  & h3 {
    font-family: $font-primary;
    font-style: italic;
    color: $colorDark;
    text-shadow: none;
  }
}

.application.helveczia .window-header,
.app.helveczia .window-header,
.window-app.helveczia .window-header {
  &,
  & h4 {
    font-family: $font-primary;
    font-style: italic;
    color: $c-white;
    text-shadow: none;
  }
}

.critical-button {
  display: grid;
}

.centred {
  display: grid;
  justify-content: center;
}
