<section class="helveczia chat-card">
    <div class="helveczia chat-block">
        <div class="flexrow chat-header">
            <div class="chat-title"><h2>{{ title }}</h2></div>
            <div class="chat-img" style="background-image:url('systems/helveczia/assets/icons/angel_sm.png')"></div>
        </div>
        <div class="chat-details">
            {{ speaker }} {{ localize 'HV.dialog.HolyWrit' }}
        </div>
    </div>
</section>