<section class="helveczia chat-card">
    <div class="helveczia chat-block">
        <div class="blindable" data-blind="{{data.roll.blindroll}}">
            {{{ rollHV }}}
        </div>
        {{{ result }}}
    </div>
</section>
