<div class="header" style="flex-wrap: nowrap;">
  <div class="flexrow"  style="flex-wrap: nowrap;">
    <h3 style="display: contents;"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h3>
  </div>
  <div>{{ localize 'HV.Average' }} {{ localize 'HV.virtue' }}: {{ virtue }}</div>
</div>