<form autocomplete="off" onsubmit="event.preventDefault();">
    <div id="chapter"></div>
    <div class="flexrow">
        <button class="next">{{ localize 'HV.apps.bible.next' }}</button>
        <button class="rnd">{{ localize 'HV.apps.bible.again' }}</button>
    </div>
</form>