<form autocomplete="off" onsubmit="event.preventDefault();">
  <h2>{{ localize 'HV.ChooseOriginClass'}}</h2>
  <select id="orig" name="orig">
    {{selectOptions peoples localize=true}}
  </select>
  <select id="class" name="class">
    {{selectOptions classes localize=true}}
  </select>
</form>