<form autocomplete="off" onsubmit="event.preventDefault();">
  <h2>{{ localize 'HV.dialog.chooseSpecialism' }}{{ localizedRole profession }}</h2>
  <select id="specialism">
    {{selectOptions specialisms localize=true}}
  </select>
</form>