<form autocomplete="off" onsubmit="event.preventDefault();">
  <h2>Enter statblock</h2>
  <div style="display:flex; justify-content:space-evenly;">
      <textarea id="statblock" rows="15" cols="40" placeholder="{{localize "HV.dialog.StatBlock"}}"></textarea>
  </div>
  </div>
  <footer class="sheet-footer">
    <button class="choice" type="button">
      <i class="fas fa-save"></i>{{localize "HV.Create"}}
    </button>
  </footer>
</form>