<form autocomplete="off" onsubmit="event.preventDefault();">
  <h2>Enter statblock</h2>
  <div style="display:flex; justify-content:space-evenly;">
      <textarea id="statblock" rows="10" cols="40" placeholder="{{localize "HV.dialog.StatBlock"}}"></textarea>
  </div>
</form>